body {
  font-family: "Times New Roman", Times, Helvetica;
  background: #ffdb59;
  color: #aa1000;
}

.navbar {
  margin-bottom: 0;
  background-color: #ffdb59;
  border: 1px solid white;
  z-index: 9999;
  font-size: 12px !important;
  line-height: 1.5 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-weight: 900;
}

.navbar li a,
.navbar .navbar-brand {
  color: #aa1000 !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #aa1000 !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

h1 {
  color: #aa1000;
  margin-top: 25px;
  margin-bottom: 1px;
}

h2 {
  color: #aa1000;
  font-weight: 700;
  margin-top: 1px;
  margin-bottom: 30px;
}

h3 {
  color: #aa1000;
  font-weight: 700;
}

h4 {
  color: #aa1000;
  font-weight: 500;
  text-align: justify;
  text-justify: inter-word;
}

h5 {
  color: #aa1000;
  font-weight: 500;
}

.jumbotron {
  background-color: #ffdb59;
  color: #aa1000;
  padding: 73px 5px;
  font-family: Montserrat, sans-serif;
}

.container-fluid {
  padding: 0 50px;
  background: #ffdb59;
}

.margin {
  margin-bottom: 45px;
}

main {
  margin-top: 50px;
}

#miracles {
  margin-top: 5px;
}

#writings {
  margin-top: 50px;
}

#pilgrimage {
  top: 75px;
}

.bg-1 {
  background-color: #ffdb59; /* Green */
  color: #aa1000;
}

.logo-small {
  color: #aa1000;
  font-size: 50px;
}

.logo {
  color: #aa1000;
  font-size: 200px;
}

#icon img {
  height: 100%;
}

#photo img {
  width: 50%;
  height: 50%;
}

@media (min-width: 768px) {
  #photo img {
    width: 25%;
    height: 25%;
  }
}

#picture img {
  width: 50%;
  height: 50%;
}

@media (min-width: 768px) {
  #picture img {
    width: 25%;
    height: 25%;
  }
}

#map img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  #map img {
    width: 50%;
    height: 50%;
  }
}

@media (min-width: 768px) {
  #map img {
    width: 50%;
    height: 50%;
  }
}

.thumbnail {
  padding: 5px 5px 1px 5px;
  background-color: #aa1000;
}

iframe {
  width: 100%;
  border-bottom: 1px solid purple;
}

#myCarousel img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  filter: none;
}

.carousel-caption h3 {
  color: white !important;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

.panel {
  border: 1px solid #aa1000;
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
}

.panel-heading {
  background-color: #aa1000 !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel-heading h3 {
  color: #ffdb59;
}

.panel-body {
  background: white;
}

.panel-body img {
  width: 100%;
}

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}

.hourglass {
  background: white;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-shadow: inset 0 0 0 0.35rem #aa1000;
  flex-direction: column;
  animation: clock 20s ease-in-out infinite;
}

.glass {
  background: lightsteelblue;
  height: 35%;
  width: 35%;
  border-top: 4px solid #aa1000;
  border-bottom: 8px solid #aa1000;
  border-radius: 75% 75% 0 0/ 100% 100% 0 0;
  overflow: hidden;
}

.top {
  transform: rotate(180deg);
}

.sand {
  background: #ffdb59;
  height: 150%;
  width: 150%;
  transform-origin: 0% 0%;
  animation: sand 20s linear infinite -10s;
}

.delayed {
  animation-delay: 0s;
}

@keyframes clock {
  0% {
    transform: rotate(0deg);
  }
  25%,
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sand {
  0%,
  100% {
    border-radius: 5%;
    transform: translate(35%, 20%) rotate(45deg);
  }
  15% {
    border-radius: 40%;
    transform: translate(0%, 35%) rotate(-65deg) scale(1.5, 1.5);
  }
  25% {
    border-radius: 20%;
    transform: translate(-15%, 35%) rotate(-90deg) scale(1.2, 1.2);
  }
  50% {
    border-radius: 5%;
    transform: translate(0%, 0%) rotate(-90deg) scale(1, 1);
    opacity: 1;
  }
  50.01%,
  64.99% {
    opacity: 0;
  }
  65% {
    border-radius: 35%;
    transform: translate(20%, 50%) rotate(30deg);
    opacity: 1;
  }
  75% {
    border-radius: 10%;
    transform: translate(35%, 40%) rotate(45deg);
  }
}
/* Create Line */
#timeline ul {
  padding: 5px;
}

#timeline ul li {
  position: relative;
  width: 5px;
  padding-top: 50px;
  margin: 0 auto;
  background: #aa1000;
  list-style: none;
}
/* Boxes */
#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 170px;
  padding: 0.1rem;
  background: #aa1000;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
/* Years Boxes */
#timeline ul li div h3 {
  color: #ffdb59;
  text-align: center;
}
/* Right Side */
#timeline ul li:nth-child(odd) div {
  left: 40px;
  transform: translate(50px, 0);
}

/* Left Side */
#timeline ul li:nth-child(even) div {
  left: -205px;
  transform: translate(-50px, 0);
}
/* Dots */
#timeline ul li:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: inherit;
  border-radius: 50%;
  transform: translateX(-50%);
  transition: 0.5s ease-in-out;
}
/* Arrows Base */
#timeline div:before {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}
/* Right Side Arrows */
#timeline ul li:nth-child(odd) div:before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #aa1000 transparent transparent;
}

/* Left Side Arrows */
#timeline ul li:nth-child(even) div:before {
  right: -15px;
  border-width: 8px 0px 8px 16px;
  border-color: transparent transparent transparent #aa1000;
}
/* Show Boxes */
#timeline ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

#timeline ul li.show:after {
  background: white;
  border: 3.5px solid #aa1000;
}

@media (max-width: 900px) {
  #timeline ul li div {
    width: 250px;
  }

  #timeline ul li:nth-child(even) div {
    left: -284px;
  }
}

@media (max-width: 600px) {
  #timeline ul li {
    margin-left: 20px;
  }

  #timeline ul li div {
    width: calc(100vw - 90px);
  }

  #timeline ul li:nth-child(even) div {
    left: 40px;
  }

  #timeline ul li:nth-child(even) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #aa1000 transparent transparent;
  }
}
